@tailwind base;
@tailwind components;
@tailwind utilities;

.formInputStyle {
	border-width: 2px;
	border-style: solid;
	border-color: #dce4ff;
	border-radius: 9999px;
}

.formInputStyle:focus {
	outline: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Example shadow for focus state */
}
